

#contentarea {
  padding-left: 265px;
}
#contentarea.collapsed {
  transition-timing-function: ease;
  padding-left: 50px;
  /* transition: width .3s; */
}
.maincontent {
  /* background-color:lightsteelblue; */
  /* height:-webkit-fill-available; */
  /* height: inherit; */
  /* overflow: auto; */
}
.v-sidebar-menu .collapse-btn {
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  position: absolute;
  height: 50px;
  /* left: 0; */
  /* right: 0; */
  top: 0 !important;
  /* bottom: 0; */
  cursor: pointer;
  border: none;
  width: 100%;
}
.v-sidebar-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-bottom: 0px !important;
  padding-top: 50px !important;
  z-index: 999;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.v-sidebar-menu.white-theme {
  background-color: #a0a0a06e !important;
}
.navbar-item.is-mega {
  position: static;
}
.navbar-item.is-mega .is-mega-menu-title {
  margin-bottom: 0;
  padding: 0.375rem 1rem;
}
.round7 {
  border-radius: 7px;
}

.center {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.topcardimg {
  position: relative;
  width: min-content;
  top: 46px;
  left: 25px;
  buttom: 29px;
  /* bottom: 1px; */
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  /* border: 1px solid gray; */
  color: #4a4a4a;
  z-index: 2;
  border-radius: 7px;
}
.roundedimg {
  border-radius: 7px;
}
.toright {
  position: relative;
  left: 108px;
  width: 63%;
}
.bgwhite {
  background: white;
}
.componentcontainer{
  padding: 20px;
}
.iconimg{
  position: relative;
  padding: 10px;
}
.chartpadding{
  padding: 15px;
}